#title{
    padding: 8px;
    height: 50px;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tahoma", Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
}

/* Header */
.header {
    background: #8b5e3c;
    color: white;
    padding: 30px;
    text-align: center;
}
.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Hero */
.hero {
    background: url("download (4).jfif") center/cover;
    height: 500px;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: 1px 1px 4px black;
}

/* Services */
.services {
    padding: 50px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#ork{
    margin-bottom: 30px;
}
.card {
    background: white;
    width: 460px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.card h3 {
    margin: 10px 0;
}
.card p {
    padding: 0 10px 15px;
}

/* Gallery */
.gallery {
    padding: 0px;
    text-align: center;
}
.gallery-images {
    display: flex;
    justify-content: center;
    border: 3px dashed brown;
    gap: 15px;
    flex-wrap: wrap;
   
}
#tit{
   margin-bottom: 60px;
}
.gallery-images img {
    width: 400px;
    height: 340px;
    object-fit: cover;
   float: inline-end;
    border-radius: 8px;
}
#right{
    margin-right: 93px;
    height: 520px;
}
#left{
    margin-left: 93px;
    height: 520px;
}



/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}
.contact form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.contact button {
    background: #8b5e3c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
#location{
    text-align: center;
    margin: 30px;
    margin-left: 555px;
    border: solid 7px black;
    height: 65px;
    width: 450px
}
#communication{
     background-color: hsl(139, 100%, 85%) ;
    height: 170px;
    text-align: right;
    margin-bottom: 0px;
    
}
#phoneNum{
    margin-right: 99px;
} 
#call{
    text-align: center;
    margin: 9px;
}
.video{
    text-align: center;
    width: 293px;
    height: 290px;
    float: top;
    

}
#big{
    width: 100%
}

